mixin imgTest(name)
  img(src=require(`@img/`+name))

mixin Img(path,type,alt)
  -
    alt = alt !== undefined ? alt : path.split('/')[path.split('/').length - 1].split('.')[0]
    let fileName = path.split('.')[0]
    let ext = [
      'jxr', 'jp2', 'webp'
    ]
  div.img-wrap
    case type
      when 'lazy'
        img(data-src=imgPath + path, class="lazy", alt=alt)
      when 'pic'
        picture
          each pictures,index in ext
            source(
              src=imgPath + fileName + '.' + pictures,
              type=index === 0 ? 'image/vnd.ms-photo':'image/' + pictures)
          img(src=imgPath + path, alt=alt)
      when 'pic-lazy'
        picture(class='lazy')
          each pictures,index in ext
            source(
              data-srcset=imgPath + fileName + '.' + pictures,
              type=index === 0 ? 'image/vnd.ms-photo':'image/' + pictures)
          img(data-srcset=imgPath + path, alt=alt)
      when 'locale'
        img(src=imgPath+localeData[locale].img[path], alt=alt)
      when 'locale-js'
        img(data-locale=alt,  alt=alt)
      default
        img(src=imgPath + path, alt=alt)





