extends ../layout/base

block variables
  - let title = 'Сервис JoinChat Group позволяет автоматизировать получение, обработки заявки в кафе и ресторанах';
  - let description = '';
  - let imgPath = 'assets/img/'

block head
  include ../includes/templates/headMetaTags
  include ../includes/templates/headLinks
  include ../includes/templates/headScripts


block main
  .container-base
    .accordion.accordion-1
      -
        let accordionData = [
          {
            header: 'Header text1', contentHeader: 'Content Text1',
            contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia
            officiis, suscipit totam ut veritatis.`,
          },
          {
            header: 'Header text2', contentHeader: 'Content Text2',
            contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia officiis, suscipit totam ut veritatis.`
          },
          {
            header: 'Header text3', contentHeader: 'Content Text3',
            contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia officiis, suscipit totam ut veritatis.`
          },
        ];
      each items,index in accordionData
        details(class='accordion__item' + (index + 1), open=true)
          summary(class='accordion__content accordion__item' + (index + 1))=items.header
          h4=items.contentHeader
          p=items.contentText

    hr
    .accordion.accordion-2
      -
        let accordionData2 = [
          {
            header: 'Header text1', contentHeader: 'Content Text1',
            contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia
            officiis, suscipit totam ut veritatis.`,
          },
          {
            header: 'Header text2', contentHeader: 'Content Text2',
            contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia officiis, suscipit totam ut veritatis.`
          },
          {
            header: 'Header text3', contentHeader: 'Content Text3',
            contentText: `Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi at beatae corporis deleniti dicta dolor dolore expedita hic laudantium nam nemo odio officia officiis, suscipit totam ut veritatis.`
          },
        ];
      each items,index in accordionData2
        details(class='accordion__item' + (index + 1), open=true)
          summary(class='accordion__content accordion__item' + (index + 1))=items.header
          h4=items.contentHeader
          p=items.contentText
