extends ../layout/base

block variables
  - var title = 'Amemory title';
  - var description = 'Amemory description';
  - var mainId = 'main';

  .container
    .grid
      .box.box1(data-src='polova') 1
      .box.box2.light 2
      .box.box3 3
      .box.box4.light 4
      .box.box5 5
      .box.box6.light 6
    .wrapper
      each val ,index in ['1-1.png','logo.png','13224.jpg']
        div(class='list__item' + index)
          img(src=`/assets/img/${val}`, alt=`${val.split('.')[0]}`)

    .container
      each val ,index in ['1-1.png','logo.png','13224.jpg']
        div(class=`img-wrap img-wrap${index}`)
          img(src=`/assets/img/${val}`, alt=`${val.split('.')[0]}`)

