extends ../layout/base

block variables
  - let title = 'Amemory title';
  - let description = 'Amemory description';
  - let mainId = 'id';
  - var imgPath = '/assets/img/test/'
  - var iconsPath = '/assets/icons/'

block head
  include ../includes/templates/headMetaTags
  include ../includes/templates/headScripts

block main
  .container-base
    h1.pugHeader Test Bootstrap
  .container-base#webp-test
    h1 Picture tag
      //.img-wrap
      //  img(
      //    data-src=`${imgPath}cloud1.png`,
      //    class="lazy",
      //    alt=`cloud`)
      //  img(
      //    data-src=`${imgPath}cloud1.jp2`,
      //    class="lazy",
      //    alt=`cloud`)
      //  img(
      //    data-src=`${imgPath}cloud1.jxr`,
      //    class="lazy",
      //    alt=`cloud`)
      //  img(
      //    data-src=`${imgPath}cloud1.webp`,
      //    class="lazy",
      //    alt=`cloud`)

      picture
        source(data-srcset=`${imgPath}cloud1.jxr`, type='image/vnd.ms-photo')
        source(data-srcset=`${imgPath}cloud1.jp2`, type='image/jp2')
        source(data-srcset=`${imgPath}cloud1.webp`, type='image/webp')
        img(
          class="lazy"
          data-srcset=`${imgPath}cloud1.png`, alt='cloud1')


