extends ../layout/base

block variables
  - var title = 'Amemory title';
  - var description = 'Amemory description';
  - var mainId = 'id';

block head
  include ../includes/templates/headMetaTags
  include ../includes/templates/headScripts

block main
  .container-base
    h1 Test Bootstrap
  .container
    - var formId = `formId`
    form(id=`${formId}`, action='send.php')
      -var formIdplaceholders = ['Имя', 'Пароль', 'Телефон', 'Разное']
      -var n = 0;
      each inputs,index in {name: 'text', password: 'password', phone: 'tel', data: 'text'}
        label(for=`input__${index}`)
          input(
            id=`input__${index}`
            form=`${formId}`,
            name=`${index}`,
            type=`${inputs}` ,
            placeholder=`${formIdplaceholders[n]}`)
        -n++
      label(for=`textarea__${formId}`)
        textarea(
          id=`textarea__${formId}`,
          name=`textarea__${formId}`,
          placeholder=``)
      button(id=`submit-${formId}`, form=`${formId}`, ) press


